# Object files
*.o

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

# Vim
*.un~
*.swp

# autotools
# http://www.gnu.org/software/automake

Makefile.in
COPYING.autogen_bak
INSTALL.autogen_bak
config.guess
config.sub
ltmain.sh
mate-doc-utils.make
omf.make
src/config.h.in
xmldocs.make

# http://www.gnu.org/software/autoconf

/autom4te.cache
/aclocal.m4
/compile
/configure
/depcomp
/install-sh
/missing
